<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'Nilai a : ' + a }}</h1>
      <h2>{{`Rata rata : ${b}`}}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          b: 0,
        },
        methods: {
          openForm() {
            /**
             * syarat looping
             * 1. harus ada deklarasi variabel kursor
             * 2. harus ada kondisional
             * 3. harus ada iterasi kursor (contoh : i++)
             * baru bisa jalanin aksi didalam looping
             */
            let input = [];
            let x = 0; //deklarasi kursor
            //while(kondisional){}
            while (x <= 10) {
              x = parseInt(prompt("Masukan nilai a")); // iterasi kursor
              input.push(x); //aksi dalam looping
            }

            //for (deklarasi kursor; kondisional; iterasi kursor){aksi}
            // for (let x = 0; x <= 10; x = parseInt(prompt("Masukan nilai a"))) {
            //   input.push(x);
            // }
            input.map((v) => {
              this.a += v;
            });

            this.b = this.a / input.length;
          },
        },
      });
    </script>
  </body>
</html>
